# Environment
.env

# Python
__pycache__/
*.py[cod]
.venv/

# Tooling caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

.idea/

# Terraform
.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
